/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald-v49-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald-v49-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/oswald-v49-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswald-v49-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

::-moz-selection {
  background-color: transparent;
  color: unset;
}

::selection {
  background-color: transparent;
  color: unset;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-color: #e5e5e5;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 8px 8px rgb(79, 79, 79);
          box-shadow: 0 2px 8px 8px rgb(79, 79, 79);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f9f8f8), color-stop(50%, #fff));
  background: linear-gradient(#f9f8f8 50%, #fff 50%);
  z-index: 1;
  margin-bottom: 10px;
}

.site-header__conatiner {
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-header__content {
  max-width: 1115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 10px;
  margin-left: 203px;
}

.site-header__div::before {
  content: "";
  width: 14px;
  height: 13px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/house.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 9px;
}

.site-header__sub-link {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.site-header__sup::before {
  content: "";
  width: 12px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/phone.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 9px;
}

.site-header__tel {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin-right: 9px;
}

.site-header__tel + .site-header__tel::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ffbd54;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 3px;
  cursor: pointer;
}

.site-header__sup,
.site-header__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__span::before {
  content: "";
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/schedule.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 9px;
}

.site-header__sub-text {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.site-header__sub-text + .site-header__sub-text {
  margin-left: 17px;
}

@media only screen and (max-width: 1178px) {
  .site-header__sub-link {
    display: none;
  }
  .site-header__div::before {
    width: 22px;
    height: 22px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 965px) {
  .site-header__tel {
    display: none;
  }
  .site-header__sup::before {
    width: 22px;
    height: 22px;
    margin-right: 30px;
  }
  .site-header__div::before {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (max-width: 647px) {
  .site-header__sub-text {
    display: none;
  }
  .site-header__span::before {
    width: 26px;
    height: 26px;
  }
  .site-header__sup::before {
    width: 26px;
    height: 26px;
  }
  .site-header__div::before {
    width: 26px;
    height: 26px;
  }
}
.site-header__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item + .site-header__item {
  margin-left: 55px;
}

.site-header__logo-link {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.site-header__text {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.item1::before {
  content: "";
  width: 14.7px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/fish.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 12px;
}

.site-header__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__block1::before {
  content: "";
  width: 23px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/header-img.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 12px;
}

.site-header__menu {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../../img/menu.svg");
  background-position: center;
  border: none;
  background-color: transparent;
  display: none;
}

@media only screen and (max-width: 1098px) {
  .site-header__text {
    font-size: 14px;
  }
  .site-header__logo-link {
    font-size: 14px;
  }
  .site-header__item + .site-header__item {
    margin-left: 44px;
  }
  .site-header__logo-img {
    max-width: 125px;
  }
}
@media only screen and (max-width: 947px) {
  .site-header__text {
    font-size: 12px;
  }
  .site-header__logo-link {
    font-size: 12px;
  }
  .site-header__item + .site-header__item {
    margin-left: 29px;
  }
  .site-header__logo-img {
    max-width: 102px;
  }
}
@media only screen and (max-width: 793px) {
  .site-header__logo-link {
    font-size: 10px;
  }
  .site-header__item + .site-header__item {
    margin-left: 20px;
  }
  .site-header__logo-img {
    max-width: 80px;
  }
  .site-header__block1::before {
    display: none;
  }
  .site-header__text {
    display: none;
  }
}
@media only screen and (max-width: 604px) {
  .site-header__logo-link {
    font-size: 10px;
  }
  .site-header__item + .site-header__item {
    margin-left: 14px;
  }
  .site-header__logo-link {
    display: none;
  }
  .site-header__menu {
    display: inline-block;
  }
}
.hero {
  padding-top: 161px;
  padding-bottom: 20px;
}

.hero__title {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.h2 {
  color: #333;
}

.h3 {
  color: #78c0de;
}

.hero__text {
  max-width: 441px;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 38px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  background: #333;
  padding: 15px 48px 16px 47px;
}

.hero__content::before {
  content: "";
  width: 752px;
  height: 984px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/img1.png");
  margin-right: 10px;
  background-size: cover;
}

.hero__conatiner::after {
  content: "";
  width: 239px;
  height: 382px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/hero2.png");
  background-size: cover;
  margin-left: 1141px;
  margin-top: -417px;
}

.hero__conatiner {
  max-width: 1440px;
}

@media only screen and (max-width: 1391px) {
  .hero__title {
    font-size: 64px;
    line-height: 53px;
  }
  .hero__text {
    max-width: 401px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  .hero__content::before {
    width: 650px;
    height: 850px;
  }
  .hero__conatiner::after {
    width: 219px;
    height: 362px;
    margin-left: 1040px;
    margin-top: -427px;
  }
}
@media only screen and (max-width: 1283px) {
  .hero__title {
    font-size: 50px;
    line-height: 40px;
  }
  .hero__text {
    max-width: 350px;
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 21px;
  }
  .hero__content::before {
    width: 550px;
    height: 750px;
    margin-right: 20px;
  }
  .hero__conatiner::after {
    width: 195px;
    height: 320px;
    margin-left: 978px;
    margin-top: -427px;
  }
}
@media only screen and (max-width: 1194px) {
  .hero__content::before {
    margin-right: 5px;
  }
  .hero__conatiner::after {
    width: 195px;
    height: 320px;
    margin-left: 902px;
    margin-top: -427px;
  }
}
@media only screen and (max-width: 1119px) {
  .hero__title {
    font-size: 70px;
    line-height: 64px;
    margin-bottom: 13px;
  }
  .hero__text {
    max-width: 441px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 38px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__link {
    font-size: 16px;
    padding: 15px 48px 16px 47px;
  }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .div3 {
    text-align: center;
  }
  .hero__content::before {
    display: none;
  }
  .hero__conatiner::after {
    width: 175px;
    height: 300px;
    margin-left: 753px;
    margin-top: -224px;
  }
}
@media only screen and (max-width: 955px) {
  .hero__conatiner::after {
    width: 152px;
    height: 266px;
    margin-left: 640px;
    margin-top: -134px;
  }
}
@media only screen and (max-width: 856px) {
  .hero__title {
    font-size: 65px;
    line-height: 59px;
    margin-bottom: 12px;
  }
  .hero__text {
    max-width: 401px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 33px;
  }
  .hero__link {
    font-size: 16px;
    padding: 15px 48px 16px 47px;
  }
}
@media only screen and (max-width: 817px) {
  .hero__conatiner::after {
    width: 146px;
    height: 235px;
    margin-left: 561px;
    margin-top: -107px;
  }
}
@media only screen and (max-width: 791px) {
  .hero__title {
    font-size: 55px;
    line-height: 45px;
    margin-bottom: 11px;
  }
  .hero__text {
    max-width: 375px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 23px;
  }
  .hero__conatiner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 733px) {
  .hero__conatiner::after {
    width: 128px;
    height: 209px;
    margin-left: 515px;
    margin-top: -113px;
  }
}
@media only screen and (max-width: 667px) {
  .hero__conatiner::after {
    width: 113px;
    height: 181px;
    margin-left: 421px;
    margin-top: -73px;
  }
}
@media only screen and (max-width: 556px) {
  .hero__conatiner::after {
    width: 99px;
    height: 161px;
    margin-left: 355px;
    margin-top: -73px;
  }
}
@media only screen and (max-width: 477px) {
  .hero__conatiner::after {
    width: 88px;
    height: 146px;
    margin-left: 308px;
    margin-top: -70px;
  }
}
@media only screen and (max-width: 463px) {
  .hero__title {
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 9px;
    max-width: 300px;
  }
  .hero__text {
    max-width: 300px;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 13px;
  }
  .hero__link {
    padding: 13px 35px 14px 35px;
  }
}
@media only screen and (max-width: 420px) {
  .hero__conatiner::after {
    width: 76px;
    height: 136px;
    margin-left: 271px;
    margin-top: -64px;
  }
}
@media only screen and (max-width: 377px) {
  .hero__title {
    font-size: 33px;
    line-height: 28px;
    margin-bottom: 8px;
    max-width: 270px;
  }
  .hero__text {
    max-width: 270px;
    font-size: 8px;
    line-height: 8px;
    margin-bottom: 13px;
  }
  .hero__link {
    padding: 11px 28px 11px 28px;
  }
}
.service__conatiner {
  text-align: center;
  margin: 0 auto;
}

.service__text {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}

.service__sub-text {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 56px;
  margin-top: 35px;
}

.service__link {
  width: 140px;
  height: 1px;
  background: #575555;
}

.service__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__content::before {
  content: "";
  width: 55px;
  height: 55px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../img/servise1.png");
}

.service__content::after {
  content: "";
  width: 55px;
  height: 55px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../img/servise2.png");
  margin-left: auto;
}

@media only screen and (max-width: 981px) {
  .service__text {
    font-size: 16px;
    max-width: 650px;
  }
  .service__content::before {
    width: 44px;
    height: 44px;
  }
  .service__content::after {
    width: 44px;
    height: 44px;
  }
  .service__link {
    width: 130px;
  }
}
@media only screen and (max-width: 748px) {
  .service__text {
    font-size: 14px;
    max-width: 550px;
  }
  .service__content::before {
    width: 33px;
    height: 33px;
  }
  .service__content::after {
    width: 33px;
    height: 33px;
  }
  .service__link {
    width: 120px;
  }
}
@media only screen and (max-width: 650px) {
  .service__text {
    font-size: 11px;
    max-width: 390px;
  }
  .service__content::before {
    width: 28px;
    height: 28px;
  }
  .service__content::after {
    width: 28px;
    height: 28px;
  }
  .service__link {
    width: 110px;
  }
}
@media only screen and (max-width: 447px) {
  .service__text {
    font-size: 9px;
    max-width: 300px;
  }
  .service__content::before {
    width: 22px;
    height: 22px;
  }
  .service__content::after {
    width: 22px;
    height: 22px;
  }
  .service__sub-text {
    font-size: 14px;
  }
  .service__link {
    width: 100px;
  }
}
.help {
  margin-bottom: 200px;
}

.help__text {
  max-width: 126px;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.help__item::before {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.help__title {
  color: #333;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.help__list::before {
  content: "";
  width: 14px;
  height: 25.923px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_img1.png");
  display: inline-block;
  margin-right: auto;
}

.help__list::after {
  content: "";
  width: 14px;
  height: 25.923px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_img2.png");
  display: inline-block;
  margin-left: auto;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 14px;
  margin-bottom: 55px;
  gap: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__item {
  height: 200px;
  max-width: 193px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: #fff;
  padding: 30px 32px 42px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__item:nth-child(1)::before {
  content: "";
  width: 54px;
  height: 77.445px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_1.png");
  display: inline-block;
}

.help__item:nth-child(2)::before {
  content: "";
  width: 61.4px;
  height: 76.753px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_2.png");
  display: inline-block;
}

.help__item:nth-child(3)::before {
  content: "";
  width: 72px;
  height: 77.143px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_3.png");
  display: inline-block;
}

.help__item:nth-child(4)::before {
  content: "";
  width: 75.938px;
  height: 75.94px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_4.png");
  display: inline-block;
}

.help__item:nth-child(5)::before {
  content: "";
  width: 78px;
  height: 78px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_5.png");
  display: inline-block;
}

.help__item:nth-child(6)::before {
  content: "";
  width: 75.938px;
  height: 75.938px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/help_6.png");
  display: inline-block;
}

.help__sup-title {
  color: #333;
  font-size: 36px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 18px;
}

.help__sup-text {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 492px;
}

.text5 {
  margin-bottom: 9px;
}

.text6 {
  margin-bottom: 34px;
}

.help__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.link1 {
  padding: 14px 36px 15px 35px;
  border-radius: 3px;
  background: #ffbd54;
  margin-right: 21px;
}

.link2 {
  padding: 14px 37px;
  border-radius: 3px;
  background: #333;
}

.link1::before {
  content: "";
  width: 21.249px;
  height: 21px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/money.png");
  display: inline-block;
  margin-bottom: -6px;
  margin-right: 6px;
}

.link2::before {
  content: "";
  width: 21px;
  height: 21.001px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/document.svg");
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 6px;
}

.help__conte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__img1 {
  margin-right: 30px;
}

@media only screen and (max-width: 1314px) {
  .help__list::after,
  .help__list::before {
    display: none;
  }
  .help__item {
    max-width: 197px;
    padding: 32px 34px 44px 37px;
  }
  .help__item {
    max-width: 210px;
  }
}
@media only screen and (max-width: 1240px) {
  .help__title {
    font-size: 35px;
    line-height: 41px;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1010px) {
  .help__sup-title {
    font-size: 30px;
    line-height: 17px;
  }
  .help__sup-text {
    font-size: 13px;
    max-width: 440px;
  }
  .help__img1 {
    width: 450px;
  }
  .help__item {
    max-width: 200px;
    padding: 34px 36px 46px 39px;
  }
}
@media only screen and (max-width: 1206px) {
  .help__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .help__content_block {
    text-align: center;
    margin: 0 auto;
  }
  .help__img1 {
    max-width: 700px;
    margin-bottom: 25px;
  }
  .help__sup-title {
    color: #333;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 18px;
  }
  .help__sup-text {
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 492px;
  }
  .help__item {
    height: 210px;
    max-width: 220px;
  }
}
@media only screen and (max-width: 702px) {
  .help__img1 {
    max-width: 390px;
    margin-bottom: 25px;
  }
  .help__sup-title {
    font-size: 30px;
    line-height: 17px;
  }
  .help__sup-text {
    font-size: 13px;
    max-width: 400px;
  }
  .help__item {
    max-width: 203px;
    padding: 35px 39px 47px 42px;
  }
}
@media only screen and (max-width: 489px) {
  .help__img1 {
    max-width: 250px;
    margin-bottom: 10px;
  }
  .help__item {
    max-width: 220px;
  }
  .help__sup-title {
    font-size: 11px;
    line-height: 9px;
  }
  .help__sup-text {
    font-size: 11px;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  .help__conte {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .link1 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 590px) {
  .help__title {
    font-size: 29px;
    line-height: 35px;
    margin-top: 12px;
    margin-bottom: 29px;
  }
  .help__item {
    max-width: 230px;
  }
}
@media only screen and (max-width: 550px) {
  .help__item {
    max-width: 206px;
    padding: 36px 42px 50px 43px;
  }
  .help__item {
    max-width: 240px;
  }
}
@media only screen and (max-width: 387px) {
  .help__item {
    max-width: 209px;
    padding: 37px 45px 53px 44px;
  }
  .help__item {
    height: 220px;
    max-width: 300px;
  }
}
.kurse {
  background-repeat: no-repeat;
  background-image: url("../../img/kurse_img1.png");
  background-position: 100%;
  margin-bottom: 121px;
  background-size: cover;
}

.kusre__title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  padding-top: 90px;
  line-height: 20px;
  margin-bottom: 32px;
}

.kurse__form {
  padding-bottom: 88px;
}

.kurse__input {
  padding: 18px 147px 12px 22px;
  border-radius: 5px;
  background: #fff;
  margin-right: 21px;
}

.kurse__input::-webkit-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.kurse__input::-moz-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.kurse__input:-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.kurse__input::-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.kurse__input::placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.kurse__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kurse__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  background: #333;
  padding: 15px 53px 14px 51px;
}

.kurse__img {
  max-width: 529px;
  height: 449px;
}

.kurse__conatiner {
  max-width: 1135px;
  height: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kurse__img {
  position: relative;
  top: -9px;
  right: 45px;
}

@media only screen and (max-width: 1113px) {
  .kurse__img {
    position: relative;
    top: -9px;
    right: 39px;
  }
}
@media only screen and (max-width: 1097px) {
  .kurse__img {
    position: relative;
    top: -9px;
    right: 31px;
  }
}
@media only screen and (max-width: 1070px) {
  .kurse__img {
    position: relative;
    top: -9px;
    right: 15px;
  }
}
@media only screen and (max-width: 1051px) {
  .kurse__img {
    position: relative;
    top: -9px;
    right: 5px;
  }
}
@media only screen and (max-width: 1022px) {
  .kurse__img {
    display: none;
  }
  .kurse__content {
    margin-left: auto;
    margin-right: auto;
  }
  .kurse__form,
  .kusre__title {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 604px) {
  .kusre__title {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    line-height: 15px;
    margin-bottom: 25px;
    margin-bottom: 30px;
  }
  .kurse__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kurse__input {
    padding: 20px 160px 14px 30px;
    margin-bottom: 15px;
  }
  .kurse__btn {
    padding: 17px 90px 16px 70px;
  }
}
@media only screen and (max-width: 434px) {
  .kurse__input {
    padding: 20px 100px 14px 25px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .kurse__btn {
    padding: 17px 70px 16px 60px;
  }
  .kusre__title {
    font-size: 30px;
    padding-top: 40px;
    line-height: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .kurse {
    margin-bottom: 35px;
    margin-top: -40px;
  }
}
.stati {
  margin-bottom: 200px;
}

.stati__sub-title {
  color: #333;
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 80px;
  padding-top: 10px;
  text-align: center;
}

.stati__content {
  border-radius: 5px;
  border: 1px solid #e4e4e2;
  background: #fefefe;
  max-width: 305px;
  height: 435px;
}

.stati__img {
  max-width: 305px;
}

.stati__time {
  color: #949494;
  font-size: 14px;
  font-weight: 500;
  text-align: end;
  margin-bottom: 2px;
}

.stati__title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  max-width: 182px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.stati__text {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 244px;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
}

.stati__sup-block {
  max-width: 244px;
  margin-left: auto;
  margin-right: auto;
  padding: 21px 0 37px 0;
}

.stati__sub-text {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
}

.stati__sub-text::before {
  content: "";
  width: 23px;
  height: 20.948px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../img/header-img.png");
  margin-right: 7px;
}

.stati__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.stati__item + .stati__item {
  margin-left: 7px;
}

.stati__div-tetx {
  color: #3d9cea;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.stati__m-block {
  border-radius: 5px;
  border: 1px solid #e4e4e2;
  max-width: 305px;
}

.stati__div-title {
  color: #333;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  max-width: 193px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.stati__ul-text {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 270px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}

.stati__div {
  border-radius: 5px;
  border: 1px solid #e4e4e2;
  background: #fefefe;
  max-width: 305px;
  height: 435px;
}

.item9 {
  max-width: 307px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 41px 34px 36px 30px;
}

.stati__img-1 {
  height: 435px;
  max-width: 305px;
  background-size: cover;
}

.sitate__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stati__time1 {
  color: #949494;
  font-size: 14px;
  margin-top: 4px;
  font-weight: 500;
}

.state__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1120px) {
  .stati {
    margin-bottom: 180px;
  }
}
@media only screen and (max-width: 1000px) {
  .stati {
    margin-bottom: 160px;
  }
}
@media only screen and (max-width: 800px) {
  .stati {
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 650px) {
  .stati {
    margin-bottom: 90px;
  }
}
@media only screen and (max-width: 556px) {
  .stati__sub-title {
    font-size: 40px;
    line-height: 16px;
    margin-bottom: 40px;
  }
  .stati {
    margin-bottom: 80px;
  }
  .stati__sub-text {
    margin-top: -24px;
  }
}
@media only screen and (max-width: 390px) {
  .stati {
    margin-bottom: 40px;
  }
}
.obrat {
  margin-bottom: 200px;
}

.obrat__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/bgimg.png");
}

.obrat__title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}

.obrat__text {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 334px;
  margin-bottom: 29px;
}

.Obrat__input::-webkit-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
}

.Obrat__input::-moz-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
}

.Obrat__input:-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
}

.Obrat__input::-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
}

.Obrat__input::placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
}

.Obrat__input {
  background: #fff;
  padding: 16px 188px 13px 22px;
  border-radius: 3px;
}

.obart__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.Obrat__input-text {
  padding: 17px 190px 127px 22px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 3px;
}

.Obrat__input-text::-webkit-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.Obrat__input-text::-moz-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.Obrat__input-text:-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.Obrat__input-text::-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.Obrat__input-text::placeholder {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.obrat__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background: #ffbd54;
  border-radius: 3px;
  padding: 15px 49px;
}

.obrat__content {
  margin-left: 148px;
}

.input1,
.input2 {
  margin-bottom: 14px;
}

.obrat__container {
  max-width: 1464px;
}

@media only screen and (max-width: 1064px) {
  .obrat__content {
    margin-left: 95px;
  }
  .obrat {
    margin-bottom: 190px;
  }
}
@media only screen and (max-width: 1008px) {
  .obrat__content {
    margin-left: 45px;
  }
  .obrat {
    margin-bottom: 180px;
  }
}
@media only screen and (max-width: 958px) {
  .obrat__content {
    margin-left: 15px;
  }
  .obrat {
    margin-bottom: 160px;
  }
}
@media only screen and (max-width: 928px) {
  .obrat__content-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .obrat__btn,
  .obrat__text {
    margin: 0 auto;
  }
  .obrat__ifreme {
    width: 700px;
    height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }
  .obrat {
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 751px) {
  .obrat__ifreme {
    width: 600px;
    height: 500px;
  }
  .obrat {
    margin-bottom: 130px;
  }
}
@media only screen and (max-width: 651px) {
  .obrat__ifreme {
    width: 450px;
    height: 350px;
  }
  .obrat {
    margin-bottom: 110px;
  }
}
@media only screen and (max-width: 500px) {
  .obrat__ifreme {
    width: 320px;
    height: 280px;
  }
  .obrat__title {
    font-size: 40px;
    margin-bottom: 12px;
  }
  .obrat__text {
    font-size: 13px;
    line-height: 17px;
    max-width: 290px;
    margin-bottom: 20px;
    color: #fff4f4;
  }
  .Obrat__input {
    padding: 14px 144px 11px 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .Obrat__input-text {
    padding: 13px 144px 90px 18px;
    margin-bottom: 30px;
  }
  .obrat {
    margin-bottom: 90px;
  }
}
@media only screen and (max-width: 423px) {
  .obrat__ifreme {
    width: 260px;
    height: 220px;
  }
  .obrat__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .obrat__text {
    font-size: 11px;
    line-height: 13px;
    max-width: 230px;
    margin-bottom: 15px;
  }
  .Obrat__input {
    padding: 14px 94px 11px 13px;
  }
  .Obrat__input-text {
    padding: 13px 92px 90px 13px;
    margin-bottom: 30px;
  }
  .obrat {
    margin-bottom: 60px;
  }
}
.footer {
  background-color: #f3f3f3;
}

.footer__li-content,
.footer__ulblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__sup-content {
  width: 158px;
}

.footer__list,
.footer__list2,
.footer__sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__list {
  padding-right: 77px;
}

.footer__list2 {
  padding-right: 117px;
}

.footer__container {
  padding-right: 65px;
  padding-left: 65px;
}

.footer__sup-content {
  padding-right: 57px;
}

.footer__i-content {
  padding-right: 102px;
}

.footer__div {
  padding-right: 77px;
}

.footer__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 90px;
  padding-top: 54px;
}

.footer__sub-link {
  max-width: 165px;
}

.footer__logo-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__logo-link {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}

.footer__p-textt {
  color: #5c5c5c;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}

.footer__sub-text {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}

.footer__sub-link {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.footer__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__tel {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.item12::before {
  content: "";
  width: 14px;
  height: 13px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/house.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 9px;
}

.footer__a-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.item13::before {
  content: "";
  width: 12px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/phone.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 9px;
}

.footer__i-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__l-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__text-i::before {
  content: "";
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/schedule.png");
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-right: 9px;
}

@media only screen and (max-width: 1354px) {
  .footer__span {
    display: none;
  }
  .footer__text-i::before {
    width: 38px;
    height: 38px;
  }
  .footer__container {
    padding-right: 55px;
    padding-left: 55px;
  }
}
@media only screen and (max-width: 1237px) {
  .footer__sub-link {
    display: none;
  }
  .item12::before {
    width: 38px;
    height: 38px;
  }
  .footer__container {
    padding-right: 45px;
    padding-left: 45px;
  }
}
@media only screen and (max-width: 1077px) {
  .footer__sup {
    display: none;
  }
  .item13::before {
    width: 38px;
    height: 38px;
  }
  .footer__container {
    padding-right: 35px;
    padding-left: 35px;
  }
  .item12::before,
  .item13::before,
  .footer__text-i::before {
    margin: 0;
  }
}
@media only screen and (max-width: 942px) {
  .footer__content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__sup-content {
    width: 235px;
    margin-bottom: 40px;
  }
  .footer__ulblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__list2 {
    display: none;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__logo-link {
    font-size: 28px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .footer__item {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__item + .footer__item {
    margin-left: 40px;
  }
  .footer__sup-content {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__list {
    padding-right: 0;
  }
}
@media only screen and (max-width: 652px) {
  .footer__sup-content {
    margin-bottom: 35px;
  }
  .footer__logo-link {
    font-size: 20px;
    line-height: 17px;
    margin-bottom: 40px;
  }
  .footer__item + .footer__item {
    margin-left: 40px;
  }
  .footer__li-content {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 445px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__ulblock {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__logo-link {
    font-size: 20px;
    line-height: 17px;
    margin-bottom: 35px;
  }
  .item12::before,
  .item13::before,
  .footer__text-i::before {
    padding-right: 40px;
  }
  .ul1 {
    margin-left: 26px;
  }
  .ul2 {
    margin-left: 10px;
  }
}
.ab {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.ab:hover {
  color: #ffbd54;
}

.ab:active {
  opacity: 0.6;
}

.as {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.as:hover {
  color: #ffbd54;
}

.as:active {
  color: rgba(51, 51, 51, 0.7);
}

.ad {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.ad:hover {
  opacity: 0.8;
}

.ad:active {
  opacity: 0.6;
}

.ae {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 10px;
  margin: -6px;
}

.ae:hover {
  color: aqua;
  padding: 10px;
  border-radius: 3px;
  border: 0.5px solid red;
  background-color: #1b1b1b;
}

.ae:active {
  border-radius: 3px;
  background-color: aqua;
  color: black;
}

.ac {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.ac:hover {
  border-radius: 3px;
  background: #ffbd54;
  color: #333;
}

.ac:active {
  opacity: 0.6;
}

.aj {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aj:hover {
  border-radius: 3px;
  background: #333;
  color: #ffbd54;
}

.aj:active {
  opacity: 0.6;
}

.av {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.av:hover {
  opacity: 0.5;
}

.av:active {
  opacity: 0.2;
}

.al {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.al:hover {
  border-radius: 5px;
  border: 2px solid #ffbd54;
  opacity: 0.6;
}

.al:active {
  opacity: 0.4;
  background: #4d4b4b;
  color: red;
}/*# sourceMappingURL=main.css.map */